<ul class="list border">
  <li class="list-item list-header">
    Calendar Events
  </li>
  <div id="calendar-events">
    <div class="text-center" style="margin: 15px;">
      <%= render 'shared/loader' %>
    </div>
  </div>
</ul>
