<ul class="collection with-header">
  <li class="collection-header">
    <strong>Calendar Events</strong>
  </li>
  <div id="calendar-events">
    <div class="text-center" style="margin: 15px;">
      <%= render 'shared/loader' %>
    </div>
  </div>
</ul>