<% if meetings.present? %>
  <div class="padding-vertical-default">
    <h5 class="sub-header">Upcoming</h5>
    <%= render 'meetings', meetings: meetings, show_pagination: false %>
  </div>
<% end %>
