<ul class="collection with-header z-depth-1">
  <li class="collection-header"><strong>Upcoming</strong></li>
  <% upcoming_meetings(meetings).each do |meeting| %>
    <li class="<%= upcoming_meeting_item_classes(meeting) %>">
      <div>
        <%= link_to meeting.title, meeting_path(meeting) %>
        <span class="secondary-content">
          <%= when_in_words(meeting) %>
        </span>
      </div>
    </li>
  <% end %>
</ul>