.card.auth {
  @apply relative;
  min-width: 90%;
  max-width: 385px;
  width: 20%;

  .auth-banner {
    @apply flex flex-row items-center bg-primary-500 absolute top-0 inset-x-0 mt-0 p-4 justify-center;

    img { width: 41px; }
  }

  .card-head {
    @apply mt-20;
  }
}

@screen md {
  .card.auth {
    min-width: 400px;
  }
}
