.card {
  @apply bg-white shadow rounded p-4 border border-gray-400;

  .card-head {
    @apply flex items-center;

    .card-title {
      @apply font-bold text-lg mb-2;
      width: calc(100% - 24px);

      p { @apply mb-0; }
    }

    .card-actions {
      width: 24px;
      margin-top: -4px;
      text-align: right;
    }
  }

  &.no-actions .card-head .card-title { width: 100%; }

  &.selected {
    @apply border-t-2;
    border-top-color: theme('colors.primary-500');
  }

  .dropzone {
    border: 2px dashed rgb(102, 102, 102);
  }
}
