.card {
  @apply bg-white shadow rounded p-4 border border-gray-400 overflow-hidden;

  .card-head {
    @apply flex items-center justify-between;

    .card-title {
      @apply font-bold text-lg flex-grow;

      p { @apply mb-0; }
    }

    .card-actions {
      @apply flex-grow-0 -mr-2;
      width: 30px;
      margin-top: -4px;
    }
  }

  .card-secondary-info {
    @apply flex items-center -mt-2 opacity-50;

    >*:not(:last-child) { @apply mr-2; }
  }

  &.no-actions .card-head .card-title { width: 100%; }

  &.selected {
    @apply border-t-2;
    border-top-color: theme('colors.primary-500');
  }

  .dropzone {
    border: 2px dashed rgb(102, 102, 102);
  }
}
