.event-time-picker{
  @apply bg-white shadow-lg rounded inline-block absolute z-10;

  @media(max-width: 576px) {
    @apply fixed pin-x pin-y z-30 rounded-none overflow-y-auto;
  }

  .calendar {
    max-width: 350px;

    .header {
      @apply flex flex-row justify-between border-b border-grey p-4 mb-4;

      .month-selector { @apply cursor-pointer; }
    }

    .week {
      @apply flex flex-row justify-between;
    }

    .day {
      @apply flex items-center justify-center border border-transparent rounded;
      width: 40px;
      height: 40px;

      &.inactive { @apply text-grey; }
      &.today { @apply text-primary; }
      &.selected { @apply bg-primary text-white; }

      &:not(.inactive):not(.selected) {
        @apply cursor-pointer;
        &:hover { @apply border-grey; }
      }
    }
  }

  .time-input {
    .inputs {
      @apply inline-flex items-center bg-grey-lighter rounded;

      input {
        @apply pr-2 pl-3 text-center;
        width: 70px;
      }

      .separator { @apply font-bold; }
    }

    .period {
      @apply inline-flex items-center ml-4;

      .button {
        @apply rounded-none shadow-none;

        &:first-child { @apply rounded-l border-r-0; }
        &:last-child { @apply rounded-r border-l-0; }

        &.selected {
          @apply bg-primary text-white;
        }
      }
    }
  }

  .action-buttons {
    @apply absolute pin-b pin-r pin-l mb-4 mr-4 inline-flex;

    @media(max-width: 576px) {
      @apply ml-4;
    }

    button {
      @apply flex-1;

      &:last-child { @apply ml-2; }
    }
  }
}
