.meeting-sidebar-overlay {
  @apply fixed pin-x pin-y bg-black opacity-25 z-10;

  @screen lg { @apply hidden; }
}

.meeting-sidebar {
  @apply fixed pin-b pin-x bg-white z-20 p-0 shadow-lg;
  height: 48px;
  transition: height 0.5s;
  background-color: #fafafa;

  @screen lg {
    @apply pin-y pin-r pr-0 py-0 z-10;
    left: inherit;
    height: 100%;
  }

  .tabs {
    @apply p-0 m-0 text-center bg-white border-t;

    @screen lg { @apply border-t-0; }

    .tab {
      @apply p-4 border-b;

      @screen lg {
        &.selected {
          @apply border border-b-0;

          &:first-child { @apply border-l-0; }
          &:last-child { @apply border-r-0; }
        }
      }
    }
  }

  .meeting-sidebar-contents {
    @apply overflow-y-auto relative pb-2;
    height: calc(100vh - 105px);

    &:last-child { @apply pb-8; }
  }

  &.active {
    height: 75%;
    @screen lg { height: 100%; }

    .tabs .tab.selected { @apply border border-b-0; }
  }
}
