.meeting-sidebar-overlay {
  @apply fixed pin-x pin-y bg-black opacity-25 z-10;

  @screen lg { @apply hidden; }
}

.meeting-sidebar {
  @apply fixed pin-b pin-x bg-white z-20 p-0 shadow-lg;
  height: 48px;
  transition: height 0.5s;
  background-color: #fafafa;

  @screen lg {
    @apply pin-y pin-r pr-0 py-0 z-10;
    left: inherit;
    height: 100%;
  }

  .tabs {
    @apply p-0 m-0 text-center bg-white;

    .tab {
      @apply p-2 border-b;

      @screen lg {
        &.selected {
          @apply border border-b-0;

          &:first-child { @apply border-l-0; }
          &:last-child { @apply border-r-0; }
        }
      }
    }
  }

  .meeting-sidebar-contents {
    height: calc(100vh - 105px);
    position: relative;

    .attendees-list {
      @apply absolute overflow-y-auto;
      top: 40px;
      bottom: 5px;
      left: 8px;
      right: 8px;
    }
  }

  &.active {
    height: 75%;
    @screen lg { height: 100%; }

    .tabs .tab.selected { @apply border border-b-0; }
  }
}
