.modal-overlay { @apply fixed pin-x pin-y bg-black opacity-25 z-30; }

.modal {
  @apply hidden bg-white rounded shadow-lg px-6 py-4 relative z-50 m-auto fixed;
  top: 25%;
  left: 0;
  right: 0;
  height: fit-content;
  width: fit-content;
  min-width: 300px;
  max-width: calc(100vw - 10%);

  .title { @apply font-bold text-xl; }
  .modal-content { @apply text-base py-4; }
  .modal-footer { @apply rounded text-right py-4 bg-grey-lighter -mb-4 -mx-6 px-6 py-4; }
}