.sidebar-overlay {
  @apply hidden w-full fixed inset-x-0 inset-y-0 bg-black opacity-25 z-10 cursor-pointer;
}

.sidebar {
  @apply relative z-30 bg-primary-500 transition-all ease-in-out duration-500;
  min-width: 250px;
  &:not(.shown) { @apply -ml-64; }

  &.collapsed {
    width: 75px;
    min-width: 75px;

    .media {
      @apply flex justify-center;
      .media-text { @apply hidden; }
    }
  }

  a {
    @apply block p-3 text-white;
  }

  .header {
    @apply block text-2xl flex justify-center mt-8;
    .icon { @apply w-16; }
  }
  .avatar { @apply w-12; }

  &.collapsed {
    .header {
      .icon { @apply w-24; }
    }
  }

  .search {
    @apply relative p-3;

    i.prefix {
      @apply absolute text-black ml-2 text-gray-600;
      line-height: 40px;
    }

    ul { max-width: calc(100% - 1.5rem); }

    input[type=search] {
      padding-left: 30px;
      width: 100%;
    }
  }

  &.collapsed {
    .search { @apply hidden; }
  }

  .collapse-button {
    @apply cursor-pointer w-8 h-8 flex items-center justify-center;

    .collapse { display: initial; }
    .expand { @apply hidden; }
    i { pointer-events: none; }
  }

  &.collapsed {
    .collapse { @apply hidden; }
    .expand { display: initial; }
  }

  ul.navigation {
    @apply mt-10 text-white relative;

    &.bottom {
      @apply absolute bottom-0 w-full;
      a { @apply justify-center text-center; height: 48px; }
      i.fa { font-size: 18px; }
    }

    a {
      @apply flex items-center w-full p-3;
      &:hover, &.active { @apply bg-primary-600; }
      i.fa { font-size: 25px; }
    }
  }

  &:not(.collapsed) {
    ul.navigation:not(.bottom) {
      a {
        i.fa { width: 40px; }
      }
    }
  }
}

@screen lg {
  .sidebar {
    @apply ml-0;
    &:not(.shown) { @apply ml-0; }
  }
}
