.toast-container {
  @apply fixed left-0 right-0 z-50 pointer-events-none;
  bottom: 0px;

  &.with-sidebar { bottom: 60px; }

  .toast {
    @apply bg-white border mx-auto shadow-lg py-4 px-4 rounded cursor-pointer w-full pointer-events-auto;
    min-width: 300px;
    max-width: 500px;

    transition: transform 0.5s ease;
    transform: translateY(200px);

    @screen lg {
      @apply mt-4;
      transform: translateY(-200px);
      width: fit-content;
    }

    &.visible { transform: translateY(0); }

    &.info { @apply border-0 border-l-4 border-primary-500; }
    &.error { @apply border-0 border-l-4 border-red-500; }
  }
}

@screen lg {
  .toast-container {
    @apply top-0;
    bottom: 0;
  }
}
