@import "../_variables";

.dropzone {
    border: 2px dashed rgb(102, 102, 102);
}

.card.selected::before {
    content: '';
    display: block;
    border-top: 2px solid $primary-color;
    width: 100%;
}