.easy-autocomplete-container {
    .sub-content {
        float: right;
    }
    color: black;

    p {
        line-height: normal;
    }

    li {
        width: 100%;
    }
}

.autocomplete {
    margin-bottom: 0 !important;
}