.meeting-sidebar {
    position: fixed !important;
    top: 64px !important;
    right: 0 !important;
    bottom: 0;
    overflow-y: auto;

    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;

    background-color: rgb(245, 245, 245) !important;

    .collapsible {
        margin-top: 0 !important;
    }
    
    .collapsible-body {
        padding: 0 !important;
    }
}