@import "../_variables";

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: inherit;

  background-color: $primary-color;

  * { color: white; }

  a {
    display: block;
    padding: 10px;

    &:hover { background-color: $primary-color-dark; }
    &.active { background-color: $primary-color-dark-2; }
  }

  .header {
    display: block;
    font-size: 2.1rem;
    text-align: center;
    padding: inherit;

    &:hover { background-color: inherit; }
  }

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    .profile-picture { height: 32px; margin-right: 15px; }
  }

  .search {
    position: relative;
    padding: 10px;

    i.prefix {
      position: absolute;
      color: black;
      line-height: 45px;
      margin-left: 5px;
    }
    input[type=search] {
      background-color: white;
      border-bottom: none;
      padding: 0 10px 0 33px;
      width: calc(100% - 43px);
      border-radius: 5px;

      &:focus {
        border-bottom: none !important;
        // width: calc(100% - 33px);
        // margin-left: -10px;
        // border-radius: 0;
        // padding-left: 43px;
      }
    }

    .easy-autocomplete {
      width: 100%;
    }
  }

  .sign-out-link {
    position: fixed;
    bottom: 0;
    left: 0;
    width: inherit;
    text-align: center;
  }

  ul.links {
    li {
      a { width: 100%; padding: 10px; }
    }
  }
}