.collection-item.checkbox {
  padding-left: 42px !important;

  .checkbox {
    position: absolute;
    width: 25px;
    height: 25px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
  }
}