.easy-autocomplete-container {
  .sub-content { float: right; }
  p { line-height: normal; }

  li {
    width: 100%;

    * { color: black !important; }
  }
}

.autocomplete {
  margin-bottom: 0 !important;
}

#attendees {
  .collection-item {
    span {
      position: absolute;
      top: 16px;
    }
  }
}