@import "_variables";

/*
 * Base stylesheet
*/
body {
  background-color: #fafafa;
}

.content {
  margin-left: 16%;
  transition: 0.5s;

  &.with-collapsed-sidebar {
    margin-left: 75px;
  }
}

@media (max-width: 768px) {
  .content { margin-left: 0; }
}

.fab-fixed {
  position: fixed !important;
  right: 16px;
  bottom: 16px;
}

/* Pull .card-panel up onto the Navigation bar */
.card-panel.overlap {
  margin-top: -18px;
}

.error {
  color: red;
}

/* Card delete links */
.card, .collection-item {
  .delete-link {
    visibility: hidden;
    color: inherit;
    cursor: pointer;
  }

  &:hover {
    .delete-link {
      visibility: visible;
    }
  }
}

.collection-item {
  .title {
    font-size: 24px;
    font-weight: 300;
  }
}

.collection-item.avatar {
  min-height: 60px !important;
}

h5 {
  /* For sub-text within an h5 */
  .sub {
    display: block;
    font-size: 50%;
    color: rgba(0, 0, 0, 0.54);
  }

  &.sub-header {
    color: $muted-color;
  }
}

#error_explanation {
  border: 2px solid $error-dark;
  background-color: $error-light;
  padding: 0 24px;

  h2 { font-size: 1.5rem; }
  ul {
    padding-left: 40px;

    li { list-style-type: disc; }
  }
}