/*
 * Base stylesheet
 */
body {
    background-color: #fafafa;
}

.fab-fixed {
    position: fixed !important;
    right: 50px;
    bottom: 50px;
}

/* Pull .card-panel up onto the Navigation bar */
.card-panel.overlap {
    margin-top: -18px;
}

.error {
    color: red;
}

.turbolinks-progress-bar {
    background-color: rgb(244, 67, 54);
  }

/* Card delete links */
.card, .collection-item {
    .delete-link {
        visibility: hidden;
        color: inherit;
        cursor: pointer;
    }

    &:hover {
        .delete-link {
            visibility: visible;
        }
    }
}

.collection-item {
    .title {
        font-size: 24px;
        font-weight: 300;
    }
}