@import "_variables";

/*
 * Base stylesheet
*/
body {
  background-color: #fafafa;
}

.content {
  margin-left: 16%;
  transition: 0.5s;

  &.with-collapsed-sidebar {
    margin-left: 75px;
  }
}

@media (max-width: 768px) {
  .content { margin-left: 0; }
}
