// Place all the styles related to the Meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.action-items {
    position: fixed !important;
    top: 64px !important;
    right: 0 !important;
    bottom: 0;
}