@media print {
    /* Global styling */
    body {
        background-color: transparent;
    }

    /* Utilities */
    .print-hide {
        display: none;
    }

    .print-only {
        display: inherit !important;
    }

    .print-full-width {
        width: 100%;
    }

    /* Overrides */
    .collection {
        border: none !important;

        .collection-item {
            border-bottom: none !important;
            background-color: red;
        }
    }

    .delete-link {
        display: none !important;
    }

    .sidebar {
        position: inherit !important;
        width: 100%;
        overflow-y: inherit;

        .collection-header {
            border-bottom: none !important;
        }
    }
}