@import "_variables.scss";

/*
 * Utility styles.
*/
.text-muted {
  color: $muted-color;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}
