/*
 * Utility styles.
 */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.time-picker {
    width: 80px;
}

.bold {
    font-weight: bold;
}

.margin-top-none {
    margin-top: 0 !important;
}

.margin-bottom-none {
    margin-bottom: 0 !important;
}

.padding-right-none {
    padding-right: 0 !important;
}

.padding-sides-none {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.print-only {
    display: none;
}