@import "_variables.scss";

/*
 * Utility styles.
 */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-muted {
    color: $muted-color;
}

.vertical-center {
    position: absolute;
    top: 40%;
    bottom: 60%;
    width: 70%;
    text-align: center;
}

.time-picker {
    width: 80px;
}

.bold {
    font-weight: bold;
}

.margin-top-none {
    margin-top: 0 !important;
}

.margin-bottom-none {
    margin-bottom: 0 !important;
}

.padding-right-none {
    padding-right: 0 !important;
}

.padding-sides-none {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.padding-sides-default {
    padding-left: 15px;
    padding-right: 15px;
}

.font-size-20 {
    font-size: 20px !important;
}

.print-only {
    display: none;
}