<h1>Components</h1>

<h2>Modal</h2>

<div id="modal" class="modal">
  <div class="title">Modal Title</div>
  <div class="modal-content">Model content</div>
  <div class="modal-footer">
    <a href="#">Secondary action</a>
    <button class="button ml-4">Main action</button>
  </div>
</div>

<button class="button" data-modal="#modal">Show Modal</button>

<h2>Autocomplete</h2>

<div class="row">
  <div class="column s12 md4">
    <input type="text" class="adjourn-autocomplete" placeholder="Autocomplete" />
  </div>
</div>

<script>
  AdjournAutocomplete.init('.adjourn-autocomplete', {
    method: 'GET',
    url: function(autocomplete) {
      return '/attendees/autocomplete?email=' + encodeURIComponent(autocomplete);
    },
    renderItem: function(item) {
      return "<strong>" + item.email + "</strong>";
    },
    onItemSelected: function(item) {
      alert('you selected ' + item.email);
    }
  });
</script>
