<h1>Components</h1>

<h2>Modal</h2>

<div id="modal" class="adjourn-modal">
  <div class="title">Modal Title</div>
  <div class="adjourn-modal-content">Model content</div>
  <div class="adjourn-modal-footer">
    <a href="#">Secondary action</a>
    <button class="button ml-4">Main action</button>
  </div>
</div>

<button class="button" data-adjourn-modal="#modal">Show Modal</button>