<div class="row border-b">
  <div class="column md4">
    <img src="<%= gravatar_url(current_user.email, 128) %>" class="avatar" />
  </div>

  <div class="column md8">
    <h5><%= current_user.email %></h5>
    <small>
      Adjourn automatically pulls profile pictures from the
      Gravatar service.<br />
      Click <%= link_to "here", "https://en.gravatar.com/emails/" %>
      to change your profile picture.
    </small>
  </div>
</div>
