<h5 class="mt-8">Change Email</h5>
<p>
  <%= f.label :email %>
  <%= f.email_field :email,
    autofocus: true,
    required: true,
    data: { errors: current_user.errors[:email].join(", ") } %>
</p>

<% if devise_mapping.confirmable? && current_user.pending_reconfirmation? %>
  <div class="text-gray-600">
    Currently waiting confirmation for: <%= current_user.unconfirmed_email %>
  </div>
<% end %>
