<div class="card-title">Delete Account</div>
<p>
  Warning! Deleting your account will delete all your data and this
  action is irreversible!
</p>

<%= link_to "Delete Account", registration_path(current_user),
  class: "button block bg-red text-red-lightest hover:bg-red-dark hover:text-white",
  method: :delete,
  data: { confirm: "Are you sure you want to delete your account?" } %>