<div id="update-profile-modal" class="modal">
  <div class="modal-content">
    <h4>Password Required</h4>
    <p>
      Please enter your current password to confirm.
    </p>

    <div class="input-field">
      <%= f.password_field :current_password,
        autocomplete: "off",
        required: true,
        data: { errors: current_user.errors[:current_password].join(", ") } %>
      <%= f.label :current_password %>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-red btn-flat">Close</a>
    <%= f.submit "Update Profile",
      class: "modal-action waves-effect waves-light btn btn-green" %>
  </div>
</div>