<div class="row">
  <%# Left-most column %>
  <div class="col m4">
    <div class="col m12"><%= render "basic_info" %></div>
    <div class="col m12"><%= render "close_account" %></div>
  </div>
</div>