<div class="alert primary">
  <div class="media">
    <%= render 'shared/loader' %>
    <div class="media-text pl-4">
      <strong>Please wait while we build your export for you.</strong>
      This page will automatically update when complete, or you can come back later.
    </div>
  </div>
</div>
