<div class="lg:hidden fixed pin-t pin-x bg-primary p-3 mb-10 flex items-center justify-center shadow-md z-10">
  <i id="sidebar-menu"
    class="fixed pin-l ml-3 fa fa-bars fa-lg cursor-pointer text-white text-center"
    style="height: 40px; width: 40px; line-height: 40px;"></i>

  <%= link_to root_url do %>
    <%= image_tag 'icon.png', class: 'h-10' %>
  <% end %>
</div>
