<div class="md:hidden fixed pin-t pin-x bg-primary p-3 mb-10 flex items-center justify-center">
  <i id="sidebar-menu" class="fixed pin-l ml-3 material-icons">menu</i>

  <%= link_to root_url do %>
    <%= image_tag 'icon.png', class: 'h-10' %>
  <% end %>
</div>
