<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <div class="row">
      <div class="col m2">
        <%= render 'layouts/sidebar' %>
      </div>
      <div class="col m10">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/toasts' %>
  </body>
</html>
