<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/sidebar' %>
    <div class="content">
      <%= yield %>
    </div>
    <%= render 'layouts/toasts' %>
  </body>
</html>
