<!DOCTYPE html>
<html>
  <head>
    <title>Adjourn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <a href="" class="brand-logo center">Adjourn</a>
      </div>
      <div class="nav-content">&nbsp;</div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
